{% extends "Volunteer/volunteer_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <td>Name</td>
      <td>Request</td>
      <td>Details</td>
      <td>Location</td>
      <td>Current status </td>
      <td>&nbsp; </td>
    </tr>

    {% for i in val %}

    <tr>
      <td>{{i['fname']}} {{i['lname']}}</td>
      <td>{{i['request']}}</td>
      <td>{{i['details']}}</td>
      <td><a href="https://www.google.com/maps?q={{i['latitude']}},{{i['longitude']}}">View in map</a></td>
      <td>{{i['status']}}</td>
      <td><a href="Manage_requestdetails_volunteer?id={{i['id']}}">Update details</a></td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
{% endblock %}
