{% extends "Volunteer/volunteer_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <td>Name</td>
      <td>Request</td>
      <td>Details</td>
      <td>Location</td>
      <td></td>
    </tr>

    {% for i in val %}

    <tr>
      <td>{{i['fname']}} {{i['lname']}}</td>
      <td>{{i['request']}}</td>
      <td>{{i['details']}}</td>
      <td><a href="https://www.google.co.in/maps?q={{i['latitude']}},{{i['longitude']}}">View in map</a></td>
      <td>
        <a href="accept_request?id={{i['id']}}" class="btn btn-success">Accept</a><br><br>
        <a href="reject_request?id={{i['id']}}" class="btn btn-danger"> Reject </a>
      </td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
{% endblock %}
