{% extends "User/user_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="user_SendRatingAddview">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <td>Rating</td>
      <td>Review</td>
      <td>Date</td>
      <td>&nbsp;</td>
    </tr>

    {% for i in val %}

    <tr>
      <td>{{i['rating']}}</td>
      <td>{{i['review']}}</td>
      <td>{{i['date']}}</td>
      <td><p><a href="delete_rating?id={{i['id']}}">Delete</a></p></td>
    </tr>

    {% endfor %}

    <tr align="center">
      <td colspan="4"><label>
        <input name="Add View" type="submit" id="Add View" value="Add New" class="btn btn-primary"/>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
