{% extends "User/user_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <td>Request</td>
      <td>Details</td>
      <td>Date</td>
      <td>Volunteers</td>
    </tr>

    {% for i in val %}

    <tr>
      <td>{{i['request']}}</td>
      <td>{{i['details']}}</td>
      <td>{{i['date']}}</td>
      <td><a href="user_viewRequestview?id={{i['id']}}">View</a></td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
{% endblock %}
