{% extends "Admin/admin_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="view_rating_review">
  <table border="1" class="table table-hover table-striped">
    <tr>
      <td colspan="4"><label>
        Volunteer
        <select name="select">

          {% for i in val %}
          <option value="{{i['lid']}}"  {% if i['lid'] == vid %} selected {% endif %} >{{i['fname']}} {{i['lname']}}</option>
          {% endfor %}

        </select>
        <input name="View" type="submit" id="View" value="view" class="btn btn-primary"/>
      </label></td>
    </tr>
    <tr>
      <td>UserName</td>
      <td>Rating</td>
      <td>Review</td>
      <td>Date</td>
    </tr>

    {% for i in val2 %}

    <tr>
      <td>{{i['fname']}} {{i['lname']}}</td>
      <td>{{i['rating']}}</td>
      <td>{{i['review']}}</td>
      <td>{{i['date']}}</td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
{% endblock %}
