<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="view_rating_review">
  <table border="1">
    <tr>
      <td colspan="4"><label>
        Volunteer
        <select name="select">

          {% for i in val %}
          <option value="{{i['lid']}}">{{i['fname']}} {{i['lname']}}</option>
          {% endfor %}

        </select>
        <input name="View" type="submit" id="View" value="view" />
      </label></td>
    </tr>
    <tr>
      <td>UserName</td>
      <td>Rating</td>
      <td>Review</td>
      <td>Date</td>
    </tr>

    {% for i in val2 %}

    <tr>
      <td>{{i['fname']}} {{i['lname']}}</td>
      <td>{{i['rating']}}</td>
      <td>{{i['review']}}</td>
      <td>{{i['date']}}</td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
</html>
