{% extends "Admin/admin_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>View donation</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="view_donation_details">
  <table  border="1" class="table table-hover table-striped">
    <tr>
      <td colspan="4"><label>Location    
          <input type="text" name="textfield" />Date
        <input type="date" name="textfield2" />
        <input name="Search" type="submit" id="Search" value="Search" />
      </label></td>
    </tr>
    <tr>
      <td>UserName</td>
      <td>VolunteerName</td>
      <td>Details</td>
      <td>Status</td>
    </tr>

    {% for i in val %}

    <tr>
      <td>{{i['ufname']}} {{i['ulname']}}</td>
      <td>{{i['vfname']}} {{i['vlname']}}</td>
      <td>{{i['details']}}</td>
      <td>{{i['status']}}</td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
{% endblock %}
