<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="view_donation_details">
  <table  border="1">
    <tr>
      <td colspan="4"><label>Location    
          <input type="text" name="textfield" />Date
        <input type="date" name="textfield2" />
        <input name="Search" type="submit" id="Search" value="Search" />
      </label></td>
    </tr>
    <tr>
      <td>UserName</td>
      <td>VolunteerName</td>
      <td>Details</td>
      <td>Status</td>
    </tr>

    {% for i in val %}

    <tr>
      <td>{{i['ufname']}} {{i['ulname']}}</td>
      <td>{{i['vfname']}} {{i['vlname']}}</td>
      <td>{{i['details']}}</td>
      <td>{{i['status']}}</td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
</html>
